h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
  font-weight: 100;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  font-weight: 100;
  color: #999999;
  float:  right;
}

.full-background {
  background-image: url(https://d2w9rnfcy7mm78.cloudfront.net/110653/original_f3793e74b49815a6445aa7998d22197c.gif);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  top: 0;
  left: 0;
  position: absolute;
}

.header {
  color: #999999;
  margin:  50px 50px 75px;
}

.sc {
  top: 95%;
  left: 2%;
  position: absolute;
  width: 20px;
}

a {
  color: #999999;
  text-decoration: none;
}

.caveat {
  top: 100px;
  left: 50px;
  position: absolute;
}
