@font-face{
  font-family: 'Untitled Sans';
  src: url(../assets/bundle/UntitledSansWeb-Regular.woff2) format("woff2"), url(../assets/bundle/UntitledSansWeb-Regular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Untitled Sans';
  src: url(../assets/bundle/UntitledSansWeb-Regular.woff2) format("woff2"), url(../assets/bundle/UntitledSansWeb-Regular.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Untitled Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #969696;
  background-color: #212120;
  margin: 70px auto 70px auto;
  max-width: 1400px;
  font-weight: 300;
  padding-left: 75px;
  padding-right: 75px;
  letter-spacing: -0.02em;
}

::selection {
  background-color: #FFFF3C;
}

h5 {
  font-size: 32px;
  font-weight: 500;
  color: #FFFFFF;
}

h6 {
  font-size: 28px;
  font-weight: 500;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.text a.kepler:hover {
  color: #FF9E00;
}

.text a.penn:hover {
  color: #0081FF;
}

.text a.wharton:hover {
  color: #A82805;
}

.text a.usc:hover {
  color: #A87A05;
}

.text a.vayner:hover {
  color: #05A892;
}

.text a.photo:hover {
  color: #A80561;
}

.text a.arena:hover {
  color: #61A805;
}

.text a.github:hover {
  color: #A82905;
}

.text a.linkedin:hover {
  color: #0518A8;
}

.text a.soundcloud:hover {
  color: #FF7700;
}

.text a.instagram:hover {
  background: #F09433;
  background: -moz-linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
  background: -webkit-linear-gradient(45deg, #F09433 0%,#E6683C 25%,#DC2743 50%,#CC2366 75%,#BC1888 100%);
  background: linear-gradient(45deg, #F09433 0%,#E6683C 25%,#DC2743 50%,#CC2366 75%,#BC1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F09433', endColorstr='#BC1888', GradientType=1);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.text a.pocket:hover {
  color: #A8050D;
}

.text a.spotify:hover {
  color: #0DA805;
}

.text a.email:hover {
  color: #05A898;
}

a:hover {
  text-decoration: none;
}

.header {
  padding-top: 70px;
  padding-bottom: 70px;
}

.left {
  float: left;
}

.text {
  width: 75%;
  margin-top: 25px;
}

@media (max-width: 414px) {
  body {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 12px;
  }
  h5 {
    font-size: 26px;
  }
  h6 {
    font-size: 22px;
  }
}
