body {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 21px;
	line-height: 1.5;
	background-color: #ffffff;
	color: #9b9b9b;
	margin: 70px auto 70px auto;
  max-width: 1400px;
  font-weight: 300;
  padding-left: 75px;
  padding-right: 75px;
}

body::selection {
  background-color: #FFFF3C;
}

h5 {
	font-size: 30px;
	font-weight: 500;
  color: #333333;
}

h6 {
  font-size: 27px;
  font-weight: 500;
  color: #333333;
}

a {
	text-decoration: none;
  color: #333333;
}

a:hover {
  background-color: #FFFF3C;
  color: #000000;
	text-decoration: none;
}

.header {
  padding-bottom: 50px;
}

.left {
  float: left;
}

.text {
  width: 75%;
  margin-top: 30px;
}

/* .text:hover {
  background-color: yellow;
  h6 {
    background-color: #ffffff;
  }
} */

/* @media (max-width: 1008px) {
    body {
    font-size: 18px;
  }
  h5 {
    font-size: 27px;
  }
  h6 {
    font-size: 24px;
  }
} */

@media (max-width: 414px) {
  body {
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
  }
  h5 {
    font-size: 27px;
  }
  h6 {
    font-size: 24px;
  }
}
