html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face{
  font-family: 'ABCNormal Normal';
  src: url(./assets/bundle/ABCNormal-Normal.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'ABCNormal Neutral';
  src: url(./assets/bundle/ABCNormal-Neutral.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'ABCNormal Normal', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #808080;
  background-color: #212120;
  margin: 4rem auto;
  max-width: 87.5rem;
  padding: 0 4.5rem;
  letter-spacing: -0.02em;
}

::selection {
  background-color: rgba(163, 180, 214, 0.25);
}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'ABCNormal Neutral', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}

h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'ABCNormal Neutral', sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;
}

a {
  text-decoration: none;
  color: #c0c0c0;
}

.text a.kepler:hover {
  color: #1ccdf7;
}

.text a.penn:hover {
  color: #0081ff;
}

.text a.wharton:hover {
  color: #a82805;
}

.text a.usc:hover {
  color: #a87a05;
}

.text a.vayner:hover {
  color: #05a892;
}

.text a.photo:hover {
  color: #a80561;
}

.text a.society6:hover {
  color: #0561a8;
}

.text a.soundcloud:hover {
  color: #ff7700;
}

.arena:hover {
  stroke: #00a06d;
  fill: #00a06d;
}

.github:hover {
  stroke: #0366d6;
}

.instagram:hover {
  stroke: #dd2a7b;
}

.email:hover {
  stroke: #05a898;
}

a:hover {
  text-decoration: none;
}

.header {
  padding: 4.5rem 0 1.5rem 0;
}

.text {
  width: 72%;
  margin-top: 2rem;
}

.logos {
  width: 72%;
  margin-top: 4rem;
}

.icon {
  margin-right: 0.5em;
}

@media (max-width: 26rem) {
  body {
    font-size: 1em;
    padding-left: 3.5em;
    padding-right: 0.75em;
  }
  h5 {
    font-size: 1.75em;
  }
  h6 {
    font-size: 1.25em;
  }
  .text {
    width: 84%;
  }
  .logos {
    width: 84%;
    margin-top: 2rem;
  }
  .icon {
    width: 1em;
  }
}
