html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face{
  font-family: 'Inter-Regular';
  src: url(./assets/bundle/Inter-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face{
  font-family: 'Inter-SemiBold';
  src: url(./assets/bundle/Inter-SemiBold.woff) format("woff");
  font-weight: 600;
}

body {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 1.5625rem;
  line-height: 1.5;
  color: #eee;
  background-color: #111;
  margin: 1rem 8rem;
  max-width: 100rem;
  padding: 0 4.5rem;
  letter-spacing: -0.02em;
}

::selection {
  background-color: rgba(163, 180, 214, 0.25);
}

h5 {
  font-size: 2.625rem;
}

h6 {
  font-size: 2rem;
}

a {
  font-family: 'Inter-SemiBold', sans-serif;
  text-decoration: none;
  color: #eee;
  font-weight: 600;
}

a .arena:hover {
  border: 0;
}

.underline a:hover {
  text-decoration: none;
  border-bottom: 2px solid #eee;
}

.header {
  padding: 5rem 0 1.5rem 0;
}

.text {
  width: 72%;
  margin-top: 2rem;
}

.logos {
  width: 72%;
  margin: 3rem 0 6rem 0;
}

.icon {
  margin-right: 0.5em;
}

.arena:hover {
  stroke: #00a06d;
  fill: #00a06d;
}

.instagram:hover {
  stroke: #dd2a7b;
}

.vsco:hover {
  stroke: #ae995a;
}

.github:hover {
  stroke: #0366d6;
}

.email:hover {
  stroke: #05a898;
}


@media (max-width: 26rem) {
  body {
    font-size: 1em;
    margin: 0;
  }
  h5 {
    font-size: 1.5em;
  }
  h6 {
    font-size: 1.25em;
  }
  .text {
    width: 100%;
  }
  .logos {
    width: 84%;
    margin: 2rem 0 4rem 0;
  }
  .icon {
    width: 1em;
  }
}
